# High-level development, testing & CI/CD dependencies
# This file is used by pip-tools to generate requirements-dev.txt.
# To update dependencies, edit this file and then run:
# pip-compile requirements-dev.in

# Core Testing Framework
pytest
pytest-cov
pytest-asyncio

# Code Quality & Linting
black
flake8
flake8-bugbear
isort

# Security Analysis
safety>=3.0.0  # Version >=3.0.0 is required to avoid conflict with `black`
bandit

# Integration & E2E Testing
testcontainers
requests
Faker
freezegun
asyncpg # For async DB tests
fakeredis # For mocking Redis in tests 